{{#partial "title"}}
    {{heladera.nombre}}
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/heladeras/tecnico_detalle.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="/js/map.js"></script>
{{/partial}}
{{#partial "main-content"}}
    <div class="container">
        <div class="header">
            <h2 class="title">{{tecnico.nombre}}</h2>
            <a href="/tecnicos/{{tecnico.id}}/edit" class="edit-button">Configurar</a>
        </div>

        <div class="datos-personales card-container">
            <h3>Datos Personales</h3>
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">background_dot_small</span>
                    Nombre: {{tecnico.nombre}}
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">background_dot_small</span>
                    Apellido: {{tecnico.apellido}}
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">background_dot_small</span>
                    Numero Documento: {{tecnico.documento}}
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">background_dot_small</span>
                    Cuit: {{tecnico.cuit}}
                </p>
            </div>
        </div>

        <div class="contacto card-container">
            <h3>Contacto</h3>
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">thermometer_add</span>
                    Medio de notificacion: {{tecnico.medioDeNotificacion}}°C
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">thermometer_minus</span>
                    Contacto: {{tecnico.contacto}}°C
                </p>
            </div>
        </div>

        <div class="areaCobertura card-container">
            <h3>Area de Cobertura</h3>
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">location_on</span>
                    Area: {{tecnico.areaDeCobertura}}
                </p>
            </div>
        </div>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    <div id="map"></div>
{{/partial}}
{{> templates/base}}