{{#partial "title"}}
    Visitas Tecnicas
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/visitas_tecnicas/visitas_tecnicas.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="/js/map.js"></script>
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Visitas Tecnicas</h2>

        <div class="scrollable">
            <ul class="list">
                {{#each visitas-tecnicas}}
                    <li class="list-item">
                        <a class="item-card">
                            <div class="content-wrapper">
                                <img src="/image/{{this.foto}}" alt="foto-visita"
                                     class="visita-image">
                                <div class="description">
                                    <p>
                                        <span class="material-symbols-rounded card-detail-icon"> today </span>
                                        Fecha y Hora: {{this.fecha}} {{this.hora}}
                                    </p>
                                    <p>
                                        <span class="material-symbols-rounded card-detail-icon"> kitchen </span>
                                        Heladera: {{this.heladera}}
                                    </p>
                                    <p>
                                        <span class="material-symbols-rounded card-detail-icon">description</span>
                                        Descripcion: {{this.descripcion}}
                                    </p>
                                    <p {{#if this.pudoResolverse}}
                                    style="color: #A7C957"
                                    {{else}}
                                    style="color: #e37f8f"
                                    {{/if}}>
                                        <span class="material-symbols-rounded card-detail-icon"> build </span>
                                        Resolvió la falla: {{#if this.pudoResolverse}}
                                        Sí {{else}} No {{/if}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    <div id="map"></div>
{{/partial}}
{{> templates/base}}