{{#partial "title"}}
    Heladeras
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/heladeras/heladeras.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="/js/map.js"></script>
{{/partial}}
{{#partial "main-content"}}
    <div class="feature-container">
        {{#if puedeDarDeAltaHeladera}}
            <div class="colocar-heladera feature">
                <h3 class="feature-text">Colocar Heladera</h3>
                <div class="feature-button-container">
                    <a href="/heladeras/new" class="feature-button">ver</a>
                </div>
            </div>
        {{/if}}

        {{#if puedeEncargarseDeHeladera}}
            <div class="encargarse-de-heladera feature">
                <h3 class="feature-text">Encargarse de Heladera</h3>
                <div class="feature-button-container">
                    <a href="/colaboraciones/encargarse-de-heladeras/new"
                       class="feature-button">ver</a>
                </div>
            </div>
        {{/if}}

        {{#if puedeSuscribirseAHeladera}}
            <div class="suscribir-a-heladera feature">
                <h3 class="feature-text">Suscribir a Heladera</h3>
                <div class="feature-button-container">
                    <a href="" class="feature-button">ver</a>
                </div>
            </div>
        {{/if}}
    </div>

    <div class="list-container">
        <h2 class="list-title">Heladeras</h2>

        <div class="scrollable">
            <ul class="list">
                {{#each heladeras}}
                    <li class="list-item">
                        <a href="/heladeras/{{this.id}}" class="item-card">
                            <h3 class="card-title">{{this.nombre}}</h3>
                            <p {{#if this.estaActiva}}
                            style="color: #A7C957" {{else}} style="color: #e37f8f" {{/if}}>
                                <span class="material-symbols-rounded card-detail-icon">radio_button_checked</span>
                                Estado: {{this.estado}}
                            </p>
                            <p>
                                <span class="material-symbols-rounded card-detail-icon">location_on</span>
                                Dirección: {{this.direccion}}
                            </p>
                            <p>
                                <span class="material-symbols-rounded card-detail-icon">my_location</span>
                                Ubicación: {{this.ubicacion}}
                            </p>
                            <p>
                                <span class="material-symbols-rounded card-detail-icon">package_2</span>
                                Viandas: {{this.cantViandas}}
                            </p>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    <div id="map"></div>
{{/partial}}
{{> templates/base}}