{{#partial "title"}}
    Configurar {{heladera.nombre}}
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/heladeras/heladera_editar.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="/js/map.js"></script>
{{/partial}}
{{#partial "main-content"}}
    <form action="/heladeras/{{heladera.id}}" method="post" class="container">
        <div class="header">
            <!-- <fieldset class="title-fieldset">
              <legend class="title-legend">nombre</legend>
              <input type="text" value="Heladera Medrano UTN" class="title-input">
            </fieldset> -->

            <h2 class="title">{{heladera.nombre}}</h2>
            <button type="submit" class="confirm-button">Guardar</button>
        </div>

        <div class="ultimo-estado card">
            <p>
                <span class="material-symbols-rounded card-detail-icon">radio_button_checked</span>
                estado: {{heladera.estado}}
            </p>
            <p>
                <span class="material-symbols-rounded card-detail-icon">ac_unit</span>
                última temperatura: {{heladera.ultimaTemp}}°C
            </p>
            <p>
                <span class="material-symbols-rounded card-detail-icon">inventory_2</span>
                stock de viandas: {{heladera.cantViandas}}
            </p>
        </div>

        <div class="capacidad card-container">
            <h3>Capacidad</h3>
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">background_dot_small</span>
                    capacidad máxima: {{heladera.capacidad}}
                </p>
            </div>
        </div>

        <div class="rango-temp card-container">
            <h3>Temperaturas</h3>
            <div class="has-fieldset">
                <fieldset class="temp-fieldset">
                    <legend class="temp-legend">
                        <span class="material-symbols-rounded card-detail-icon">thermometer_add</span>
                        máxima
                    </legend>
                    <input type="number" name="maxima" step="1"
                           value="{{heladera.temperaturaMaxima}}"
                           class="temp-input"/>
                </fieldset>
                <fieldset class="temp-fieldset">
                    <legend class="temp-legend">
                        <span class="material-symbols-rounded card-detail-icon">thermometer_add</span>
                        mínima
                    </legend>
                    <input type="number" name="minima" step="1"
                           value="{{heladera.temperaturaMinima}}"
                           class="temp-input"/>
                </fieldset>
            </div>
        </div>

        <div class="direccion card-container">
            <h3>Dirección</h3>
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">location_on</span>
                    calle y altura: {{heladera.calleYAltura}}
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">map</span>
                    barrio: {{heladera.barrio}}
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">my_location</span>
                    ubicación: {{heladera.ubicacion}}
                </p>
            </div>
        </div>

        <div class="inicio-funcionamiento card-container">
            <h3>Inicio de Funcionamiento</h3>
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">today</span>
                    fecha: {{heladera.fechaInicio}}
                </p>
            </div>
        </div>
    </form>
{{/partial}}
{{#partial "side-panel"}}
    <div id="map"></div>
{{/partial}}
{{> templates/base}}