{{#partial "tittle"}}
    Alertas
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/alertas/alertas.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Visulizar Alertas</h2>
         <div class="scrollable">
                     <ul class="list">
                         {{#each alertas}}
                         <li class="list-item">
                                         <a href="#" class="item-card">
                                             <h3 class="card-title">{{this.tipo}}</h3>
                                             <img src="{{this.foto.url}}" alt="Imagen del incidente" class="card-image">
                                             <div class="card-details">
                                                 <p>
                                                     <span class="material-symbols-rounded card-detail-icon">today</span>
                                                     Fecha: {{this.fechaHora}}
                                                 </p>
                                                 <p>Heladera: {{this.heladera.nombre}}</p>
                                                 <p>{{this.descripcion}}</p>
                                             </div>
                                         </a>
                                     </li>
                         {{/each}}
                         <li class="list-item">
                                 <a href="#" class="item-card">
                                     <h3 class="card-title">Inundación</h3>
                                     <div class="contenedor">
                                         <img src="img/Map.png"  class="card-image">
                                         <div class="card-details">
                                             <p>
                                                 <span class="material-symbols-rounded card-detail-icon">today</span>
                                                 Fecha: 2024-10-20 09:15
                                             </p>
                                             <p>Heladera: LG GR-B202SQBB</p>
                                             <p>Inundación en el sótano, se necesita bomba de agua.</p>
                                         </div>
                                     </div>
                                 </a>
                             </li>
                     </ul>
         </div>
 </div>
{{/partial}}
{{> templates/base}}