{{#partial "title"}}
    Colaboraciones
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/form.css"/>
    <link rel="stylesheet" href="/css/colaboraciones/colaboraciones.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Colaboraciones Realizadas</h2>
        
        <div class="scrollable">
            {{#if colaboracionesRealizadas.length}}
                <ul class="list">
                    {{#each colaboracionesRealizadas}}
                        <li class="list-item">
                            <a href="{{this.path}}" class="item-card">
                                <h3 class="card-title">{{this.nombre}}</h3>
                                <p>
                                    <span class="material-symbols-rounded card-detail-icon">today</span>
                                    Fecha: {{this.fechaHora}}
                                </p>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="no-data-message">No has realizado ninguna colaboración aún 😣</p>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    {{#if isAdmin}}
        <div class="form-container">
            <h2 class="form-title">Cargar Colaboraciones</h2>
            <form action="/colaboraciones/migrate" method="post" class="form"
                  enctype="multipart/form-data">
                <label class="field-csv">
                    Archivo
                    <input type="file" name="csv" accept=".csv" required/>
                </label>

                <div class="form-button-container">
                    <button type="submit">Aceptar</button>
                </div>
            </form>
        </div>
    {{/if}}

    {{#if isColaborador}}
        <div class="lista-colaboraciones">
            {{#each formasDeColaborar}}
                <div class="item-colaboracion">
                    <h3 class="colaboracion-title">{{this.etiqueta}}</h3>
                    <div class="colaboracion-button-container">
                        <a href="/colaboraciones/{{this.path}}/new" class="colaboracion-button">colaborar</a>
                    </div>
                </div>
            {{/each}}

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Configurar Contribuciones</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboradores/{{colaboradorId}}/formas-de-colaboracion"
                       class="colaboracion-button">configurar</a>
                </div>
            </div>
        </div>
    {{/if}}
{{/partial}}
{{> templates/base}}