{{#partial "title"}}
    Canjear Puntos
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/canje_de_puntos/canje_puntos_crear.css"/>
{{/partial}}
{{#partial "main-content"}}
    <div class="container">
        <div class="header-actions">
            <h2 class="header-title">Canjear Producto o Servicio</h2>
            <a href="/canje-de-puntos/historial" class="historial-button">Historial</a>
            <div class="puntos">puntos: {{puntaje}}</div>
        </div>
        <div class="product-container">
            {{#each productos}}
                <div class="product-card">
                    <div class="product-img">
                        <img src="/image/{{this.pathImagen}}" alt="igor"/>
                    </div>
                    <div class="product-info">
                        <h3 class="product-name">{{this.nombre}}</h3>
                        <div class="product-price">{{this.puntosNecesarios}} puntos</div>
                    </div>

                    <form action="/canje-de-puntos?oferta={{this.id}}" method="post">
                    <button class="canje-button">canjear</button>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
{{/partial}}
{{> templates/base}}