{{#partial "title"}}
    Colaboradores
{{/partial}}

{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/colaboradores/colaboradores.css"/>
{{/partial}}

{{#partial "main-content"}}

    <div class="list-container">
        <h2 class="list-title">Colaboradores</h2>

        <div class="filter-container">
            <div class="filter">FILTROS</div>
            <!-- barra de búsqueda y filtros -->
            <!-- filtros: tipo de colaborador -->
        </div>

    {{#if colaboradores.length}}
        <div class="scrollable">
            <ul class="list">
                {{#each colaboradores}}
                    <li class="list-item">
                        <a href="/colaboradores/{{this.id}}" class="item-card">
                            <h3 class="card-title">
                                {{#if this.isHumano}}
                                    {{this.nombre}} {{this.apellido}}
                                {{else}}
                                    {{this.razonSocial}}
                                {{/if}}
                            </h3>

                            <p>
                                <span class="material-symbols-rounded card-detail-icon">badge</span>
                                ID: {{this.id}}
                            </p>

                            <p>
                                <span class="material-symbols-rounded card-detail-icon">person</span>
                                Tipo Colaborador: {{this.tipoColaborador}}
                            </p>

                            {{#if this.isHumano}}
                                <p>
                                    <span class="material-symbols-rounded card-detail-icon">cake</span>
                                    Fecha de Nacimiento: {{this.fechaNacimiento}}
                                </p>
                            {{else}}
                                <p>
                                    <span class="material-symbols-rounded card-detail-icon">account_balance</span>
                                    Tipo Razón Social: {{this.tipoRazonSocial}}
                                </p>
                                <p>
                                    <span class="material-symbols-rounded card-detail-icon">business</span>
                                    Rubro: {{this.rubro}}
                                </p>

                            {{/if}}

                            <p>
                                <span class="material-symbols-rounded card-detail-icon">volunteer_activism</span>
                                Forma de colaborar: {{this.formaDeColaborar}}
                            </p>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
        <p class="no-data-message">No hay Colaboradores cargados 😣</p>
    {{/if}}

{{/partial}}

{{> templates/base}}