{{#partial "title"}}
    Perfil
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/form.css"/>
    <link rel="stylesheet" href="/css/perfil/perfil.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Información Personal</h2>
        <p><span class="negrita">Dirección:</span> {{colaborador.direccion}}</p>
        <p><span class="negrita">Contacto:</span> {{colaborador.contacto}}</p>
        <p><span class="negrita">Tarjeta:</span>
            {{#if tarjeta}}
                {{tarjeta.codigo}}
            {{else}}
                No tienes una tarjeta asociada.
            {{/if}}
        </p>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    <div class="upper-right">
        <h2 class="list-title">Información {{#if colaborador.razonSocial}}
            Jurídica{{else}}Humana{{/if}}</h2>
        {{#if colaborador.razonSocial}}
            <p><span
                    class="negrita">Razón Social:</span>
                {{colaborador.razonSocial}}</p>
            <p><span
                    class="negrita">Tipo de Razón Social:</span>
                {{colaborador.tipoRazonSocial}}</p>
            <p>
                <span class="negrita">Rubro:</span>
                {{colaborador.rubro}}</p>
        {{else}}
            <p>
                <span class="negrita">Nombre:</span>
                {{colaborador.nombre}}</p>
            <p>
                <span class="negrita">Apellido:</span>
                {{colaborador.apellido}}</p>
            <p>
                <span class="negrita">Documento:</span>
                {{colaborador.documento}}</p>
            <p>
                <span class="negrita">Fecha de Nacimiento:</span>
                {{colaborador.fechaNacimiento}}</p>
        {{/if}}
    </div>
{{/partial}}
{{> templates/base}}